body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.film{
  max-width: 300px;
  transition:  all 0.2s;
}
.film:hover {
  scale: 1.03;
  transition: all 0.3s;
}
.detail-img{
  max-height: 500px;
}
.movie-detail{
  min-height: 88vh;
  overflow: hidden;
}